* {
  font-family: 'Inter', sans-serif;
  --primary-color: #554e4e;
  --primary-background-color: #33a833;
  --secondary-background-color: #43ce61;
  --box-shadow-color: rgba(46, 179, 28, 0.4);
}

html {
  font-size: 14px;
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.row {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgb(0, 36, 2) 0%,
      rgb(190, 244, 195) 0%,
      rgb(235, 242, 233) 100%);
}

.row>span {
  font-size: 0.8em;
}

.row>input {
  margin: 0.5em 0;
  padding: 0.4em;
  font-size: 0.8em;
}

.row>span {
  padding: 0.5em;
  font-size: 1.2em;
}

.row:focus,
.secondary:focus {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 3px --var(--box-shadow-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button {
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border: 0;
  margin: 0 0.5rem;
}

.primary {
  background-color: var(--primary-background-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-background-color);
  color: white;
}

.error,
.button {
  border-radius: 15px;
}

.error {
  border: 1px solid rgb(189, 37, 37);
  background-color: rgb(247, 219, 219);
  color: rgb(189, 37, 37);
  font-size: 0.8em;
  padding: 0.5em;
}